*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
}
html{
	scroll-behavior: smooth;
}
.scroll-up-btn{
	color:white;
}
/* ***********navbar style start*********/
.navbar{
	padding: 0 60px;
	margin: auto;
	width: 100%;
	height: 10vh;
	background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('');
	display: flex;
	z-index: 999;
	position: fixed;
	background-color:Teal;
	align-items: center;
	justify-content: space-between;
	font-family: 'ubuntu',sans-serif;
}
.logo a{
	color: #fff;
	font-size: 30px;
	font-weight: 700;
}
.logo a span{
	color: DarkOrange;

}
.menu a{
	list-style: none;
	display: inline-block;
	color:#fff;
	font-size: 18 px;
	font-weight: 550;
	margin-left: 25px;
	transition: color 0.3s ease;
}
.menu a:hover{
	color: DarkOrange;

}
/******* hearder nav bar end********/


/*******  home section styling start *******/
.home{
	display: flex;
	background:url('back2.jpeg') no-repeat center;
	height: 100vh;
	background-size:cover;
	background-attachment: fixed;
	color: #fff;
	font-family: 'ubuntu',sans-serif;
    min-height: 500px;
}
.home-content{
	align-items: center;
	margin: 240px 50px 30px 60px;

}
.home-content .text-1{
	font-size: 27px;

}
.home-content .text-2{
	font-size: 75px;
font-weight: 600;


}
.home-content .text-3{
	font-size: 40px;
     margin: 5px 0;
}
.home-content .text-3 span{
	color: Teal;
	font-weight: 600;

}
.home-content a{
	display: inline-block;
	background: Teal;
	color: #fff;
	font-size: 25px;
	font-weight: 600;
	padding: 10px 33px;
	margin-top: 30px;
	border-radius: 6px;
	border: 2px solid Teal;
	transition: all 0.3s ease;

}
.home-content a:hover{
	color: darkorange;
	background: none;

}
/********* home section end *******/

/****   change text animation    ******/

.ani:after{
	content: "";
	animation: changetext 8s infinite linear ; 
	color:teal;
}
@keyframes changetext{
	0%{content: "Freelancer";}
      
    30% { content: "Coder";
  }
	50%{content: "Developer";
}
	75%{content: "Designer";
}
	100%{content: "Youtuber";}

}
/***** animation endss     ******/

/*****      about section style start ******/
section.about{
	padding: 100px;
}
.about{
	font-family: 'ubuntu',sans-serif;
}
.about .title{
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 60px;
	padding-bottom: 20px;
	font-family: 'ubuntu',sans-serif;
}
.about .title::before{
	content: "";
	position: absolute;
	bottom: 3px;
	left: 50%;
	width: 180px;
	height: 3px;
	background: #111;
	transform: translateX(-50%);
}
.about .title::after{
	content: "who i am";
	color: Teal;
	position: absolute;
	bottom: -10px;
	left: 50%;
	font-size: 20px;
    padding: 5px;

	background: #fff;
	transform: translateX(-50%);
}
.about .about-content{
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.about .about-content .left{
	width: 45%;

}
.about .about-content .left img{  
	height: 400px;
	width: 400px;
	object-fit: cover;
	border-radius: 7px;
}
.about .about-content .right{
	width: 55%;

}
.about .about-content .right .text{
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}
.about .about-content .right .text span{
	color:Teal;
}
.about .about-content .right p{
	text-align: justify;
}
.about .about-content .right a{

	display: inline-block;
	background: Teal;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	padding: 10px 33px;
	margin-top: 20px;
	border-radius: 6px;
	border: 2px solid Teal;
	transition: all 0.3s ease;

}
.about .about-content .right a:hover{
    color: darkorange;
	background: none;

}
                        /*************         about section end       ****************/


                        /*********** services  section start styling    **************/

section.services{
	padding: 100px;
}
.services{
	font-family: 'ubuntu',sans-serif;
	background: #111;

}
.services .title{
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 70px;
	padding-bottom: 30px;
	font-family: 'ubuntu',sans-serif;
}
.services .title::before{
	content: "";
	position: absolute;
	bottom: 3px;
	left: 50%;
	width: 180px;
	height: 3px;
	background: #fff;
	transform: translateX(-50%);
}
.services .title::after{
	content: "what i provide";
	color: Teal;
	position: absolute;
	bottom: -10px;
	left: 50%;
	font-size: 20px;
    padding: 5px;

	background: #111;
	transform: translateX(-50%);
}
.services{
	color: #fff;
	background: #111;
	
}

           /*****                 serviess content and card style                     *****/
.services .services-content{

	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.services-content .card{

	width:30%;
	background: #222;
	text-align: center;
	padding: 50px 40px;
	border-radius: 6px;
    margin left:10px;
    cursor: pointer;
    transition: all 0.3 ease;
}
.services-content .card i{
	font-size: 50px;
	color:Teal;
}
.services-content .card:hover i{
	color: darkorange;
	transition: color 0.3 ease;
}
.services-content .card .text{
	font-size: 25px;
	font-weight: 500px;
	margin: 10px 0 7px 0;
	color: #fff;
}
.services-content .card .box{
	transition: all 0.3 ease;
}
.services-content .card:hover .box{
	transform: scale(1.05);
}
.services-content .card:hover{
	background: Teal;
}


/****       skills section styling start   *****/
section.skills {
	padding: 100px;
}
.skills .skills-content{

	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.skills{
	font-family: 'ubuntu',sans-serif;
	background: #fff;

}
.skills .title{
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 60px;
	padding-bottom: 20px;
	font-family: 'ubuntu',sans-serif;
}
.skills .title::after{
	content: "what i know";
	color: Teal;
	position: absolute;
	bottom: -12px;
	left: 50%;
	font-size: 20px;
    padding: 5px;
    background: #fff;
	
	transform: translateX(-50%);
}

.skills .title::before{
	content: "";
	position: absolute;
	bottom: 3px;
	left: 50%;
	width: 180px;
	height: 3px;
	background: #111;
	transform: translateX(-50%);
}
.skills-content .left{
	width:50%;
	
}
.skills .skills-content .left .text{
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 12px;
}
.skills .skills-content .left p{
	margin-bottom: 10px;
}
.skills .skills-content .left a{

	display: inline-block;
	background: Teal;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	padding: 8px 20px;
	margin-top: 10px;
	border-radius: 6px;
	border: 2px solid Teal;
	transition: all 0.3s ease;

}
.skills .skills-content .left a:hover{
    color: darkorange;
	background: none;

}
/**** skilll  colum right **** strt***/
.skills .skills-content .right{
	width: 45%;
}
.skills .skills-content .right .bars{
	margin-bottom: 19px;
} 
.skills .skills-content .right .info{
	display:flex;
	align-items: center;
	justify-content:space-between;
}
.skills .skills-content .right span{
	font-weight: 500;
	font-size: 18px;
}
.skills .skills-content .right .line{
	height: 5px;
	width: 100%;
	background:lightgrey;
	position:relative;
}
.skills .skills-content .right .line::before{
	content: "";
	position: absolute;
	height:100%;
	width:80%;
	background:Teal;
}
.skills .skills-content .right .html::before{
width:91%;
}
.skills .skills-content .right .css::before{
width:80%;
}
.skills .skills-content .right .java::before{
width:75%;
}
.skills .skills-content .right .php::before{
width:79%;
}
.skills .skills-content .right .sql::before{
width:75%;
}


/*****            teams section styling start    ****/

/** main box **/
section.teams {
	padding: 100px;
}
.teams .teams-content{

	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.teams{
	font-family: 'ubuntu',sans-serif;
	background:;

}
.teams .title{
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 60px;
	padding-bottom: 20px;
	font-family: 'ubuntu',sans-serif;
}
.teams .title::before{
	content: "";
	position: absolute;
	bottom: 3px;
	left: 50%;
	width: 180px;
	height: 3px;
	background: #fff;
	transform: translateX(-50%);
}
.teams .title::after{
	content: "who with me";
	color: Teal;
	position: absolute;
	bottom: -10px;
	left: 50%;
	font-size: 20px;
    padding: 5px;

	background: #111;
	transform: translateX(-50%);
}
.teams{
	color: #fff;
	background: #111;
}
/**  teams  card style  ***/
.teams-content .card{

	width:30%;
	background: #222;
	text-align: center;
	padding: 20px 40px;
	border-radius: 6px;
    margin left:10px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.3 ease;
}
.teams-content .card img{
	height: 150px;
	width: 150px;
	object-fit: cover;
	border-radius: 50%;
	border: 5px solid teal;
}
.teams-content .card:hover img{
	border-color: darkorange;
	transition: color 0.3 ease;
}
.teams-content .card .text{
	font-size: 25px;
	font-weight: 500px;
	margin: 10px 0 7px 0;
}
.teams-content .card .box{
	transition: all 0.5 ease;
}
.teams-content .card:hover .box{
	transform: scale(1.05);
}
.teams-content .card:hover{
	background: Teal;
}
/**************  section  teams styling endds **********/



/************      ***   section  contact styling  start    ** *************/



/**** section skills copy styling in contact us   ********/

section.contact {
	padding: 100px;
}
.contact .contact-content{

	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.contact{
	font-family: 'ubuntu',sans-serif;
	background: #fff;

}
.contact .title{
	position: relative;
	text-align: center;
	font-size: 40px;
	font-weight: 600;
	margin-bottom: 60px;
	padding-bottom: 20px;
	font-family: 'ubuntu',sans-serif;
}
.contact .title::after{
	content: "get in touch";
	color: Teal;
	position: absolute;
	bottom: -12px;
	left: 50%;
	font-size: 20px;
    padding: 5px;
    background: #fff;
	
	transform: translateX(-50%);
}

.contact .title::before{
	content: "";
	position: absolute;
	bottom: 3px;
	left: 50%;
	width: 180px;
	height: 3px;
	background: #111;
	transform: translateX(-50%);
}
/***  contact us left part style   ***/
.contact-content .left{
	width:50%;
	
}
.contact .contact-content .left .text{
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}
.contact .contact-content .left p{
	margin-bottom: 10px;
	text-align: justify;
}
.contact .contact-content .left .icons{
	margin: 10px;
}
.contact .contact-content .row {
	display: flex;
	height: 60px;
	align-items: center;
}
.contact .contact-content .row .info{
	margin-left: 30px;

}
.contact .contact-content .row i{
	font-size: 25px;
	color: teal;
}
.contact .contact-content .row .info .head{
	font-weight: 500;
}
.contact .contact-content .row .info .sub-title{
	color: #333;
}


/**** contant us  colum right **** strt***/
.contact .contact-content .right{
	width: 45%;
}
.contact .contact-content .right .text{
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}
.contact .right .fields1{
	display: flex;


}
.contact .right .fields1 .field{
	height: 45px;
	width: 100%;
	margin-bottom: 9px;

}
.contact .right .name{
	margin-right: 10px;
}
.contact .right .email{
	margin-left: 10px;
}
.contact .right .field{
	margin-top: 10px;
}
.contact .right form .field textarea{
	border: 1px solid teal;
	border-radius: 6px;
	outline: none;
	padding: 10px;
	font-size: 17px;
}

.contact .right form .field input{
	height: 100%;
	width: 100%;
	
	border: 1px solid teal;
	border-radius: 6px;
	outline: none;
	padding: 10px;
	font-size: 17px;
	font-family: 'poppins',sans-serif;

}

.contact .contact-content .right button{

	display: inline-block;
	background: Teal;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
	padding: 10px 17px;
	margin-top: 10px;
	border-radius: 6px;
	border: 2px solid Teal;
	transition: all 0.3s ease;

}
.contact .contact-content .right button:hover{
    color: darkorange;
	background: none; 
}
/*** contact    section  end    ****/

/*****     footer section start styling    *****/


footer{
	background: #111;
	padding: 20px 23px;
	color: #fff;
	text-align: center;
	font-size: 19px;
}
footer span a{
	color: teal;
	text-decoration: none;
}
footer span a:hover{
	text-decoration: underline;
	color: darkorange;
}

/***  footerr enddd  ****/


/*** scrolling up  btan   ****/


.scroll-up-btn{
	position: fixed;
	height: 45px;
	width: 42px;
	background: teal;
	right: 30px;
	bottom: 30px;
    text-align: center;
    line-height: 45px;
    color: #fff;
    font-size: 35px;
    border-radius: 8px;
    cursor: pointer;
 border: 3px solid Teal;
    transition: all 0.3s ease;
}

.scroll-up-btn:hover{

color: darkorange;
	background: none;
}